
  <h1 class="page-header">
    <%= @council_member.first_name + " " + @council_member.last_name %>
    <br />
    <small>Ward <%= @council_member.ward %> City Council Representative</small>
  </h1>

  <div class="row">
    <div class="col-md-6">
      <p>
        <strong>Phone:</strong>
        <%= @council_member.phone %>
      </p>
      <p>
        <strong>Email:</strong>
        <%= @council_member.email %>
      </p>
      <p>
        <strong>Neighborhoods:</strong>
        <%= @council_member.neighborhoods %>
      </p>
    </div>
    <div class="col-md-6">
      <%= @council_member.image_url %>
    </div>
  </div>

  <hr>
  <!-- begin row -->
  <div class="row">
    <div class="col-md-11">
      <div class="panel-group" id="accordion">
        <% @committees.each do |committee| %>
        <div class="panel panel-inverse">
          <div class="panel-heading">
            <h3 class="panel-title">
              <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion" href="#collapse<%= committee.id %>">
                <i class="fa fa-plus-circle pull-right"></i> 
                <%= committee.name %>
              </a>
            </h3>
          </div>
          <div id="collapse<%= committee.id %>" class="panel-collapse collapse ">
            <div class="panel-body">
              <h3>Recent Meetings</h3>
              <% committee.events.each do |event| %>
              <ul>
                <% event.agenda_items.take(3).each do |agenda_items| %>
                  <li>agenda_item.properties["description"]</li>
                <% end %>
                <%= link_to "Read More", event_path(event.id) %>
              </ul>
              <% end %>
            </div>
          </div>
        </div>
        <% end %>
      </div>
    </div>  
  </div>

  <%= render partial: "shared/timeline", locals: {agenda_items: @council_member.agenda_items.timeline} %>
  <%= render partial: "shared/subscription_form", locals: {subscribable: @council_member} %>

  <%= link_to 'Edit', edit_council_member_path(@council_member) %> |
  <%= link_to 'Back', council_members_path %>
</div>
