<p id="notice"><%= notice %></p>

<p>
  <strong>Ward:</strong>
  <%= @council_member.ward %>
</p>

<p>
  <strong>First name:</strong>
  <%= @council_member.first_name %>
</p>

<p>
  <strong>Last name:</strong>
  <%= @council_member.last_name %>
</p>

<p>
  <strong>Committees:</strong>
  <% @council_member.committee_members.each do |committee_member| %>
  <%= Committee.find(committee_member.committee.id).name %> 
  <% end %>
</p>

<%= link_to 'Edit', edit_council_member_path(@council_member) %> |
<%= link_to 'Back', council_members_path %>
