<h1>Listing event_attendees</h1>

<table>
  <thead>
    <tr>
      <th>Voting setting</th>
      <th>Meeting status</th>
      <th>Order of appearance</th>
      <th>Council member</th>
      <th>Event</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @event_attendees.each do |event_attendee| %>
      <tr>
        <td><%= event_attendee.voting_setting %></td>
        <td><%= event_attendee.meeting_status %></td>
        <td><%= event_attendee.order_of_appearance %></td>
        <td><%= event_attendee.council_member %></td>
        <td><%= event_attendee.event %></td>
        <td><%= link_to 'Show', event_attendee %></td>
        <td><%= link_to 'Edit', edit_event_attendee_path(event_attendee) %></td>
        <td><%= link_to 'Destroy', event_attendee, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Event attendee', new_event_attendee_path %>
