<!-- Main jumbotron for a primary marketing message or call to action -->
<div class="jumbotron">
  <div class="container">
    <h1 class="center-block">Issue: <%= @issue.name %></h1>
  </div>
</div>

<div class="container">
  <div class="row">
    <h2>Issue Summary</h2>

    <p><%= @issue.summary %></p>
  </div>
  <% if @issue.committees.any? || @issue.council_members.any? %>
      <div class="row">
        <h2>Stakeholders</h2>
      </div>
      <%= render partial: "stakeholder", collection: @issue.council_members %>
      <%= render partial: "committee", collection: @issue.committees %>
  <% end %>
  <% if @issue.agenda_items.upcoming.any? %>
      <div class="row">
        <h2>Upcoming events</h2>
      </div>
      <%= render partial: "agenda_item", collection: @issue.agenda_items.upcoming %>
  <% end %>
  <% if @issue.agenda_items.past.any? %>
      <div class="row">
        <h2>Past events</h2>
      </div>
      <%= render partial: "agenda_item", collection: @issue.agenda_items.past %>
  <% end %>

  <hr>
</div> <!-- /container -->