<!-- Main jumbotron for a primary marketing message or call to action -->
<div class="jumbotron">
  <div class="container">
    <h1 class="center-block">Issue: <%= @issue.name %></h1>

    <p><%= @issue.summary %></p>
  </div>
</div>

<div class="container">
  <div class="row">
    <div class="col-md-12">
      <h2>Your Minneapolis City Council <br> member is...</h1>
        <img src="<%= @council_member.image_url %>">

        <p></p>

        <%= link_to("#{@council_member.full_name }&raquo;".html_safe, @council_member.homepage, class: 'btn btn-primary btn-lg') %>
    </div>
  </div>
  <% if @issue.agenda_items.upcoming.any? %>
      <div class="row">
        <h2>Upcoming events</h2>
      </div>
      <%= render partial: "agenda_item", collection: @issue.agenda_items.upcoming %>
  <% end %>
  <% if @issue.agenda_items.past.any? %>
      <div class="row">
        <h2>Past events</h2>
      </div>
      <%= render partial: "agenda_item", collection: @issue.agenda_items.past %>
  <% end %>

  <hr>
</div> <!-- /container -->