<div class="row">
  <h3><%= agenda_item.title %></h3>
  <h4><%= agenda_item.committee.name %></h4>
  <strong><%= link_to(agenda_item.acted_on.in_time_zone.to_formatted_s, agenda_item.source_url) %></strong>

  <p><%= agenda_item.description %></p>
  <% if agenda_item.report_links.any? %>
      <h5>Report Links</h5>
      <ul>
        <% for report_link in agenda_item.report_links %>
            <li>
              <%= link_to(report_link.title, report_link.url) %>
            </li>
        <% end %>
      </ul>
  <% end %>

  <p><strong><%= agenda_item.action %></strong></p>

</div>