<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @committee.name %>
</p>

<p>
  <strong>Type:</strong>
  <%= @committee.comm_type %>
</p>

<p>
  <strong>Info url:</strong>
  <%= @committee.info_url %>
</p>

<%= render partial: "shared/timeline", locals: {agenda_items: @committee.agenda_items.timeline} %>
<%= render partial: "shared/subscription_form", locals: {subscribable: @committee} %>

<%= link_to 'Edit', edit_committee_path(@committee) %> |
<%= link_to 'Back', committees_path %>
