<h1><%= @committee.name %> Committee</h1>

<p>
  <strong>Type:</strong>
  <%= @committee.comm_type %>
</p>

<p>
  <strong>More Info:</strong>
  <%= link_to "Minneapolis City Council Committee Info Page", @committee.info_url %>
</p>

<%= render partial: "shared/subscription_form", locals: {subscribable: @committee} %>

<%= link_to 'Edit', edit_committee_path(@committee) %> |
<%= link_to 'Back', committees_path %>
