<!-- begin #sidebar -->
<div id="sidebar" class="sidebar">
	<!-- begin sidebar scrollbar -->
	<div data-scrollbar="true" data-height="100%">
		<% if user_signed_in? %>
		<!-- begin sidebar user -->
		<ul class="nav">
			<li class="nav-profile">
				<div class="image">
					<a href="javascript:;"><img src="assets/img/user-11.jpg" alt="" /></a>
				</div>
				<div class="info">
					Logged in user
					<small>Ward 10</small>
				</div>
			</li>
		</ul>
		<% end %>
		<!-- end sidebar user -->
		<!-- begin sidebar nav -->
		<ul class="nav">
			<li class="active">
      <a href=<%= root_path %>><i class="fa fa-laptop"></i> <span>Dashboard</span></a>
			</li>
			<li class="has-sub">
			    <a href="javascript:;">
			        <i class="fa fa-map-marker"></i>
			        <b class="caret pull-right"></b>
			        <span>Map</span>
			    </a>
				<ul class="sub-menu">
          <% Map.all.each do |map| %>
            <li><%= link_to map.title, map %></li>
          <% end %>
				</ul>
			</li>
			<li><%= link_to "<i class='fa fa-camera'></i><span> Current Issues</span>".html_safe, issues_path %></li>
			<li class="has-sub">
				<a href="javascript:;">
				    <i class="fa fa-suitcase"></i>
				    <b class="caret pull-right"></b>
				    <span>Council Members</span>
				</a>
				<ul class="sub-menu">
					<% CouncilMember.all.each do |council_member| %>
  					<li><%= link_to council_member.full_name, council_member %></li>
					<% end %>
				</ul>
			</li>
			<li class="has-sub">
				<a href="javascript:;">
				    <i class="fa fa-suitcase"></i>
				    <b class="caret pull-right"></b>
				    <span>Committees</span>
				</a>
				<ul class="sub-menu">
					<% Committee.all.each do |committee| %>
					<li><%= link_to committee.name, committee %></li>
					<% end %>
				</ul>
			</li>
			<li><%= link_to "<i class='fa fa-calendar'></i> <span>Calendar</span>".html_safe, pages_calendar_path %></li>
			<li class="has-sub">
				<a href="javascript:;">
				    <i class="fa fa-cogs"></i>
				    <b class="caret pull-right"></b>
				    <span>About the Process</span>
				</a>
				<ul class="sub-menu">
					<li><%= link_to "About the Process", pages_process_steps_path %></li>
				</ul>
			</li>
			<li><%= link_to "<i class='fa fa-camera'></i><span>About Our City</span>".html_safe, pages_about_path %></li>
			</li>
	        <!-- begin sidebar minify button -->
			<li><a href="javascript:;" class="sidebar-minify-btn" data-click="sidebar-minify"><i class="fa fa-angle-double-left"></i></a></li>
	        <!-- end sidebar minify button -->
		</ul>
		<!-- end sidebar nav -->
	</div>
	<!-- end sidebar scrollbar -->
</div>
<!-- end #sidebar -->
