<!DOCTYPE html>
<html>

<!DOCTYPE html>
<!--[if IE 8]> <html lang="en" class="ie8"> <![endif]-->
<!--[if !IE]><!-->
<html lang="en">
<!--<![endif]-->

<head>
    <meta charset="utf-8" />
  <title>Our City</title>
  <meta content="width=device-width, initial-scale=1.0" name="viewport" />
  <meta content="" name="description" />
  <meta content="" name="author" />

  <!-- ================== BEGIN BASE CSS STYLE ================== -->
  <link href="http://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700" rel="stylesheet">
  <%= stylesheet_link_tag 'application', media: 'all' %>
  <!-- ================== END BASE CSS STYLE ================== -->
  <%= csrf_meta_tags %>
  <meta name='viewport' content='initial-scale=1, maximum-scale=1, user-scalable=no' />
</head>

<body>
  <!-- begin #page-loader -->
  <div id="page-loader" class="fade in"><span class="spinner"></span></div>
  <!-- end #page-loader -->
  
  <!-- begin #page-container -->
  <div id="page-container" class="fade">

  <%= render "layouts/header" %>
  <%= render "layouts/sidebar" %>

    <!-- begin #content -->
    <div id="content" class="content">
      <!-- end breadcrumb -->    

<%= yield %>
    
    </div>

<div class="container">
  <footer>
    <p>&copy; OurCity <%= Date.today.year %></p>
  </footer>
</div>

    </div>
    <!-- end #content -->

    <!-- begin scroll to top btn -->
    <a href="javascript:;" class="btn btn-icon btn-circle btn-success btn-scroll-to-top fade" data-click="scroll-top"><i class="fa fa-angle-up"></i></a>
    <!-- end scroll to top btn -->
  </div>
  <!-- end page container -->
  
  <!-- ================== BEGIN BASE JS ================== -->
  <%= javascript_include_tag 'application' %>
  <!--[if lt IE 9]>
    <script src="assets/crossbrowserjs/html5shiv.js"></script>
    <script src="assets/crossbrowserjs/respond.min.js"></script>
    <script src="assets/crossbrowserjs/excanvas.min.js"></script>
  <![endif]-->
  <!-- ================== END BASE JS ================== -->
  
  <script>
    $(document).ready(function() {
      App.init();
      Dashboard.init();
    });
  </script>

</body>
</html>
