<%= form_for(@committee_member) do |f| %>
  <% if @committee_member.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@committee_member.errors.count, "error") %> prohibited this committee_member from being saved:</h2>

      <ul>
      <% @committee_member.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :committee_id %><br>
    <%= f.text_field :committee_id %>
  </div>
  <div class="field">
    <%= f.label :council_member_id %><br>
    <%= f.text_field :council_member_id %>
  </div>
  <div class="field">
    <%= f.label :chair %><br>
    <%= f.check_box :chair %>
  </div>
  <div class="field">
    <%= f.label :vice_chair %><br>
    <%= f.check_box :vice_chair %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
